mixin filter-status(filterStatus)
    each item in filterStatus
        button.btn.btn-sm.ms-1.btn-outline-success(
            class= `${item.class}`
            button-status=item.status
        ) #{item.name}