.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 107px;
    height: 44px;

    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%;
    user-select: none;
    transition: opacity 0.25s;

    &--small {
        height: 40px;
    }

    + .btn {
        &:not(.btn--no-margin) {
            margin-left: 20px;
        }
    }

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }

    &--primary {
        color: var(--white, #fff);
        background: var(--purple, #572af8);
    }

    &--text {
        font-weight: 400;
        background: transparent;
    }
    &--outline {
        background: transparent;
        border: 1px solid var(--button-outline-border);
    }

    &--rounded {
        border-radius: 99px;
    }

    &--danger {
        color: #fff;
        background: #ed4337;
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
